@import "./header.css";
@import "./footer.css";

.main {
    width: 1440px;
    height: 900px;
    padding-top: 160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-image: url("src/assets/img/Group 1.png");
    background-repeat: no-repeat;
    background-position: 630px -8px;
}


.main-title {
    left: 0;
    right: 0;
    width: 600px;
    height: 220px;
    margin-left: 95px;
}

.blue-colour {
    color: #306FF5;
}

.main-title p {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 15px;
}

.main-title-h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    margin-top: -1px;
}

.main-form {
    margin-top: 40px;
    margin-left: 95px;
    width: 676px;
    height: 186px;
    background-color: #FFFFFF;
    padding-left: 20px;
    border-radius: 12px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.099);
}

.main-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.main-form h3 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    width: 600px;
}

.form-fields {
    display: flex;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.phone-input-wrapper {
    display: flex;
    align-items: center;
}

.phone-input-wrapper img {
    position: absolute;
}

.main-form label {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 13px;
    color: #667085;
}

.main-form input {
    padding: 6px 16px 6px 24px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-weight: 400;
    width: 224px;
}

.main-form input::placeholder {
    color: #101828;
}

.main-form button {
    width: 132px;
    height: 58px;
    border-radius: 8px;
    padding: 11px 24px 11px 24px;
    gap: 8px;
    background-color: #2D66EE;
    color: white;
    border: none;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.form-group #id_fullname {
    padding-left: 0;
}