body{
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #eeb312;
}

section {
    background: rgba(255, 255, 255, 0.441);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #696307;
    text-align: center;
}

.pizza-selector, .size-selector, .toppings-selector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pizza-selector label, .size-selector label, .toppings-selector label {
    font-size: 18px;
    color: #333;
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #696307;
    color: rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 35px;
    font-size: 20px;
}

button:hover {
    background: #ada30e;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background: #f9f9f9af;
    border-radius: 8px;
    width: 440px;
}