@import "../header.css";
@import "../footer.css";

body{
    display: grid;
    grid-template-rows: 0px 900px 450px;
    grid-template-areas:
    "header"
    "main"
    "full-development";
}

.main-section{
    grid-area: main;
}

.main {
    grid-area: main;
    width: 1440px;
    height: 740px;
    padding-top: 160px;
    margin: 0px 4px;
    display: flex;
    flex-direction: column;
    background-image: url("../src/assets/img/Group 1.png");
    background-repeat: no-repeat;
    background-position: 630px 0px;
}

.main-title {
    left: 0;
    right: 0;
    width: 600px;
    height: 220px;
    margin-left: 95px;
}

.blue-colour {
    color: #306FF5;
}

.main-title p {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 15px;
}

.main-title-h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 36px;
    margin-top: -1px;
}

.main-form {
    margin-top: 40px;
    margin-left: 95px;
    width: 676px;
    height: 186px;
    background-color: #FFFFFF;
    padding-left: 20px;
    border-radius: 12px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.099);
}

.main-form form {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.main-form h3 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 700;
    width: 600px;
}

.form-fields {
    display: flex;
    gap: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.phone-input-wrapper {
    display: flex;
    align-items: center;
}

.phone-input-wrapper img {
    position: absolute;
}

.main-form label {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 13px;
    color: #667085;
}

.main-form input {
    padding: 6px 16px 6px 24px;
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    font-family: "SF Pro Text";
    font-size: 17px;
    font-weight: 400;
    width: 224px;
}

.main-form input::placeholder {
    color: #101828;
}

.main-form button {
    width: 132px;
    height: 58px;
    border-radius: 8px;
    padding: 11px 24px 11px 24px;
    gap: 8px;
    background-color: #2D66EE;
    color: white;
    border: none;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-weight: 600;
    text-align: left;
}

.form-group #id_fullname {
    padding-left: 0;
}

.full-development-section {
    grid-area: full-development;
    background-color: #FFFFFF;
}

.developments-attribute ul {
    list-style: none;
}

.full-development-cycle-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 600px;
    height: 104px;
    left: 108px;
    top: 980px;
}

.full-development-cycle-name p {
    width: 600px;
    height: 20px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.full-development-cycle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 496px;
    height: 200px;
    left: 108px;
    top: 1118px;
}

.developments-attribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 233px;
    height: 340px;
    left: 836px;
    top: 980px;
}

.title-of-development-cycle {
    width: 600px;
    height: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.developments-attribute-iOS, .developments-attribute-android, .developments-attribute-web,
.developments-attribute-uiux-design, .developments-attribute-testing, .developments-attribute-launch,
.developments-attribute-it-consulting {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    width: 233px;
    gap: 12px;
}

.developments-attribute a {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #1D2939;
}

.developments-attribute-android a {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    border-bottom: 1px solid #2D66EE;
}

.cursor {
    position: absolute;
    width: 15px;
    height: 16px;
    left: 62px;
}
