.developments-attribute ul {
    list-style: none;
}

.full-development-cycle-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 600px;
    height: 104px;
    left: 108px;
    top: 980px;
}

.full-development-cycle-name p {
    width: 600px;
    height: 20px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-top: -6px;
}

.developments-attribute {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 233px;
    height: 340px;
    left: 836px;
    top: 1000px;
}

.title-of-development-cycle {
    width: 600px;
    height: 52px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
}

.developments-attribute-iOS, .developments-attribute-android, .developments-attribute-web,
.developments-attribute-uiux-design, .developments-attribute-testing, .developments-attribute-launch,
.developments-attribute-it-consulting {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 0px;
    width: 233px;
    gap: 12px;
}

.developments-attribute a {
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #1D2939;
}

.developments-attribute-android a {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    border-bottom: 1px solid #2D66EE;
}

.developments-attribute a:hover {
    border-bottom: 1px solid #2D66EE;
}

.cursor {
    position: absolute;
    width: 15px;
    height: 16px;
    left: 62px;
}

.full-development-cycle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 496px;
    height: 200px;
    left: 108px;
    top: 1118px;
}

.full-development-cycle-web-section h3,
.full-development-cycle-mobile-section h3 {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
}

.full-development-cycle-web-section span,
.full-development-cycle-mobile-section span {
    color: #2D66EE;
}

.full-development-cycle-web-section p,
.full-development-cycle-mobile-section p {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #344054;
}

@media screen and (max-width: 768px) {
    .title-of-development-cycle {
        width: 322px;
        height: 40px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 28px;
        line-height: 144%;
        letter-spacing: 0.326451px;
        color: #101828;
        margin-top: -40px;
    }

    .full-development-cycle {
        margin-top: -70px;
    }

    .full-development-cycle-name p {
        width: 198px;
        height: 20px;
        left: 40px;
        top: 866px;
        font-family: 'SF Pro Text';
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #101828;
        margin-top: 12px;
    }

    .full-development-cycle-web-section h3,
    .full-development-cycle-mobile-section h3 {
        width: 496px;
        height: 24px;
        font-family: 'SF Pro Display';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.38px;
        color: #101828;
    }

    .full-development-cycle-web-section p,
    .full-development-cycle-mobile-section p {
        width: 277px;
        height: 66px;
        font-family: 'SF Pro Text';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: #344054;
    }

    .full-development-cycle-web-section p br,
    .full-development-cycle-mobile-section p br {
        display: none;
    }

    .cursor {
        display: none;
    }

    .developments-attribute {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        position: absolute;
        width: 233px;
        height: 340px;
        left: 443px;
        top: 1060px;
    }

    .full-development-section {
        grid-area: full-development;
        background-color: #FFFFFF;
    }

    .full-development {
        position: absolute;
        width: 636px;
        height: 464px;
        left: -81px;
        top: -50px;
    }
}

@media screen and (max-width: 425px) {
    .full-development {
        position: absolute;
        width: 428px;
        top: 250px;
    }

    .developments-attribute {
        position: absolute;
        width: 233px;
        height: 340px;
        left: 68px;
        top: 1335px;
    }
}