@import "../fonts.css";
body {
  background-color: #F2F4F7;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.h1-header {
  color: #2D66EE;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.header-menu-links p,
.header-menu-contacts-info div,
.header-menu-contacts-info-phones p,
.header-menu-contacts-info-mail p {
  display: inline-block;
}

.header-menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  position: fixed;
  left: 0;
  margin: 20px 0px 20px 108px;
  width: 70%;
  max-width: 1130px;
  min-width: 1000px;
  padding: 0 20px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.0784313725);
  z-index: 9999;
}

.header-menu svg, .cross,
.header-menu-contacts-info-phones .second-phone img:nth-child(1) {
  display: none;
}

.header-menu-contacts-info-phones p {
  margin-right: 10px;
}

.header-menu-contacts-info-phones img,
.header-menu-contacts-info-mail img {
  vertical-align: middle;
  margin-right: 5px;
}

.header-menu-links, .header-menu-contacts-info {
  display: flex;
  align-items: center;
  gap: 24px;
  white-space: nowrap;
}

.header-menu-contacts-info {
  gap: 20px;
}

.header-menu a, .header-menu-contacts-info a {
  color: #2D66EE;
}

.header-menu-links a {
  color: #101828;
}

@media screen and (max-width: 768px) {
  .header-menu {
    position: absolute;
    height: 940px;
    margin: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5019607843);
    min-width: 752px;
    display: flex;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-menu .burger2, .header-menu .burger1 {
    display: none;
  }
  .header-menu-links {
    display: flex;
    flex-direction: column;
  }
  .header-menu-contacts-info-phones .second-phone img:nth-child(1) {
    display: inline;
  }
  .h1-header {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.154px;
  }
  .header-menu-links p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
    margin: 8px;
  }
  .header-menu-links {
    margin: 45px 0px 45px 0px;
  }
  .cross {
    position: absolute;
    left: 572px;
    top: 41px;
  }
  .header-menu svg {
    display: block;
    cursor: pointer;
  }
  .header-menu-contacts-info {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.15px;
    gap: 0px;
  }
}
@media screen and (max-width: 425px) {
  .header-menu {
    position: absolute;
    min-width: 410px;
    height: 597px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-menu .burger1,
  .header-menu .burger2 {
    display: none;
  }
  .cross {
    position: absolute;
    left: 340px;
    top: 20px;
  }
  .header-menu-links,
  .header-menu-contacts-info .header-menu-contacts-info-phones {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .header-menu-contacts-info-phones .second-phone img:nth-child(1) {
    display: inline;
  }
  .header-menu-contacts-info {
    display: flex;
    flex-direction: column;
  }
  .h1-header {
    font-family: "Inter";
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.154px;
    margin-left: 0px;
  }
  .header-menu-links p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 24px;
    line-height: 144%;
    letter-spacing: 0.33px;
    color: #101828;
    margin: 8px;
  }
  .header-menu-links {
    margin: 30px 0px 30px 0px;
  }
  .header-menu-contacts-info p {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
  }
}/*# sourceMappingURL=header (with menu).css.map */