@import "../../../fonts.css";

body {
    background-color: #F2F4F7;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.h1-header {
    color: #2D66EE;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
}

.header-menu-links p, 
.header-menu-contacts-info div, 
.header-menu-contacts-info-phones p, 
.header-menu-contacts-info-mail p {
    display: inline-block;
}

.header-menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    position: fixed;
    left: 0;
    margin: 20px 0px 20px 108px; 
    width: 70%;
    max-width: 1130px;
    min-width: 1000px;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px 0px #00000014;
    z-index: 9999;
    opacity: 0.5;
}

.header-menu svg {
    display: none;
}

.header-menu-contacts-info-phones p {
    margin-right: 10px;
}

.header-menu-contacts-info-phones img,
.header-menu-contacts-info-mail img {
    vertical-align: middle;
    margin-right: 5px; 
}

.header-menu-links, .header-menu-contacts-info {
    display: flex;
    align-items: center;
    gap: 24px;
    white-space: nowrap;
}

.header-menu-contacts-info {
    gap: 20px;
}

.header-menu a, .header-menu-contacts-info a {
    color: #2D66EE;
}

.header-menu-links a {
    color: #101828;
}

@media screen and (max-width: 768px) {
    .header-menu {
        position: fixed;
        height: 90px;
        margin: 8px;
        background: #ffffff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px; 
        min-width: 740px;
    }

    .header-menu .burger2 {
        display: none;
    }

    .h1-header {
        margin-left: 120px;
    }

    .header-menu-links, 
    .header-menu-contacts-info .header-menu-contacts-info-phones {
        display: none;
    }

    .header-menu svg {
        display:block;
    }

    .header-menu-contacts-info {
        font-family: 'SF Pro Text';
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.15px;
        gap: 0px;
    }
}

@media screen and (max-width: 425px) {
    .header-menu {
        position: fixed;
        min-width: 391px;
        height: 90px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 12px;
        justify-content: flex-start;
        gap: 80px;
    }
    
    .header-menu-contacts-info,
    .header-menu .burger1 {
        display: none;
    }

    .header-menu .burger2 {
        display: block;
        margin-left: -8px;
    }

    .h1-header {
        align-items: center;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: -0.154px;
        margin-left: 0px;
    }
}
