.get-free-book-section {
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../../../src/assets/img/noise.png');
        opacity: 0.3;
        mix-blend-mode: overlay; 
    }

    .get-free-book {
    
        svg {
            position: absolute;
            width: 1440px;
            height: 258.13px;
            left: 0px;
            top: 165px;
            opacity: 0.3;
        }
        
        .book-image {
            position: absolute;
            top: 10px;
            left: 480px;
            z-index: 1;

            img {
                position: absolute;
                height: 650px;
                width: 830px;
                left: 128px;
                top: -46px;
                padding-left: 60px;
                box-sizing: border-box;
            }
        }
    }

    .book-form-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 600px;
        height: 428px;
        margin: 40px 0px 0px 108px;

        h2 {
            width: 600px;
            height: 104px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 36px;
            line-height: 144%;
            letter-spacing: 0.326451px;
            color: #FCFCFD;
            z-index: 1;
            margin-bottom: 0;
        }
        
        .book-form {
            z-index: 1;
        }

        .book-form form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 24px;
            width: 600px;
            height: 284px;
            background: #FFFFFF;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
            border-radius: 12px;

            button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 11px 24px;
                gap: 10px;
                width: 225px;
                height: 40px;
                background: #2D66EE;
                border-radius: 8px;
                border: none;
                font-family: 'SF Pro Text';
                font-weight: 600;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                letter-spacing: -0.154px;
                color: #FFFFFF;
                margin-right: 26px;
                cursor: pointer;
            }

            input {
                font-family: 'SF Pro Text';
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                letter-spacing: -0.408px;
                color: #101828;
                box-sizing: border-box;
                border: none;
                border-bottom: 1px solid #E0E0E0;

                &::placeholder {
                    color: #101828;
                }

            }

            .form-fields-book {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                width: 552px;
                height: 172px;
                margin-right: 26px;

                label {
                    font-family: 'SF Pro Text';
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    letter-spacing: -0.078px;
                    color: #667085;
                }

                .phone-and-name-field-book {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 0px;
                    gap: 24px;
                    width: 552px;
                    height: 86px;

                    .phone-field {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 16px 0px;
                        gap: 8px;
                        width: 264px;
                        height: 86px;

                        .flag-and-input {
                            display: flex;
                            flex-direction: row;
                            align-items: flex-start;
                            padding: 0px;
                            gap: 8px;
                            height: 22px;

                            img {
                                position: absolute;
                                margin-top: 2px;
                            }

                            input {
                                padding-left: 24px;
                                width: 264px;
                            }
                        }
                    }

                    .name-field {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 16px 0px;
                        gap: 8px;
                        width: 264px;
                        height: 86px;

                        input {
                            width: 262px;
                            padding-left: 0;
                        }
                    }
                }

                .email-field-book {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 16px 0px;
                    gap: 8px;
                    width: 552px;
                    height: 86px;

                    input {
                        width: 551px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .get-free-book-section {

        &::before{
            opacity: 0.1;
        }

        .get-free-book {


            svg {
                display: none;
            }

            .book-form-title {
                margin: 26px 0px 0px 58px;
                gap: 60px;
                
                h2 {
                    width: 455px;
                    height: 80px;
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 144%;
                    letter-spacing: 0.326451px;
                    color: #FCFCFD;
                }

                .book-form form {
                    width: 335px;
                    height: 431px;

                    .form-fields-book {
                        gap: 8px;
                        width: 271px;
                        height: 367px;

                        .phone-and-name-field-book {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            height: 240px;
                            width: 200px;
                            gap: 10px;
                        }

                        .email-field-book {
                            padding-top: 6px;
                            width: 280px;
                            margin-top: -20px;
                            input {
                                width: 271px;
                            }
                        }
                    }

                    button {
                        position: absolute;
                        margin: 328px 72px 0px 0px;
                    }
                }
            }

            .book-image {
                position: relative;
                width:300px;
                height:520px;
                margin-top: -310px;
                margin-left: -50px;

                img {
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    width:300px;
                    height:520px;
                    object-fit:cover;
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .get-free-book-section {
        .get-free-book {
            margin-left: -20px;
            .book-form-title {
                h2 {
                    width: 333px;
                    height: 80px;
                }

                .book-form {
                    margin-top: 250px;
                }
            }

            .book-image {
                img {
                    height: 300.31px;
                    left: -478px;
                    top: 120px;
                }
            }
        }
    }
}