.faq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 108px;
    gap: 40px;

    .faq-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 600px;
        height: 52px;
        margin-bottom: 20px;

        h2 {
            width: 600px;
            height: 52px;
            font-family: 'Inter';
            font-weight: 700;
            font-size: 36px;
            line-height: 144%;
            letter-spacing: 0.326451px;
            color: #101828;
        }
    }

    .questions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        width: 1224px;
        height: 420px;

        h3 {
            font-family: 'SF Pro Display';
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.38px;
            color: #101828;
        }

        .left-questions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 16px;
            width: 600px;
            height: 232px;

            .questions-cost-mobile-application, .questions-application-guarantee {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 12px 0px;
                gap: 16px;
                width: 600px;
                height: 84px;
                justify-content: space-between;
                border-bottom: 0.5px solid #D0D5DD;

                svg {
                    cursor: pointer;
                }
            }

            .questions-cost-mobile-application {
                border-top: 0.5px solid #D0D5DD;
            }

            .questions-application-guarantee {
                padding-top: 0;
            }
        }

        .right-questions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            width: 600px;
            height: 420px;

            .questions-duration {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 12px 0px;
                gap: 16px;
                width: 600px;
                height: 272px;
                justify-content:space-between;
                border-bottom: 0.5px solid #D0D5DD;
                border-top: 0.5px solid #D0D5DD;

                .questions-duration-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px;
                    width: 524px;
                    height: 248px;

                    h3 {
                        margin-top: 10px;
                    }

                    p {
                        width: 524px;
                        height: 200px;
                        font-family: 'SF Pro Text';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: -0.24px;
                        color: #101828;
                        margin-top: 0;

                        span {
                            font-family: 'SF Pro Text';
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 20px;
                            letter-spacing: -0.32px;
                        }
                    }
                } 

                svg {
                    cursor: pointer;
                }
            }

            .questions-confidentiality-guarantee {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 6px 0px;
                gap: 16px;
                width: 600px;
                height: 84px;
                justify-content:space-between;
                border-bottom: 0.5px solid #D0D5DD;
                cursor: pointer;
            }

            .questions-confidentiality-guarantee-another {
                display: none;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .faq {
        padding: 0px 0px 0px 26px;

        .faq-title {
            h2 {
                width: 57px;
                height: 40px;
                font-family: 'Inter';
                font-weight: 700;
                font-size: 28px;
                line-height: 144%;
                letter-spacing: 0.326451px;
            }
        }

        .questions {
            display: flex;
            flex-direction: column;
            padding: 0px 60px 0px 60px;
            height: 652px;
            margin-top: -15px;

            .left-questions {
                order: 1;
                margin-top: -40px;
            }

            .right-questions {
                .questions-confidentiality-guarantee {
                    border-bottom: none;
                    margin-top: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .faq-section {
        .faq {
            padding-left: 14px;
        }

        .questions {
            padding-left: 0px;

            .left-questions {
                display: none;
            }
            
            .right-questions {
                margin-top: -25px;
                height: 900px;
                .questions-confidentiality-guarantee-another {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 6px 0px;
                    gap: 16px;
                    width: 600px;
                    height: 84px;
                    justify-content:space-between;
                    border-bottom: 0.5px solid #D0D5DD;
                }

                .questions-duration {
                    border-top: none;
                    width: 393px;
                    height: 328px;

                    .questions-duration-text {
                        p {
                            width: 344px;
                            height: 260px;
                            left: 0px;
                            top: 48px;
                            font-family: 'SF Pro Text';
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 20px;
                            letter-spacing: -0.24px;
                            color: #101828;
                        }
                    }
                    
                    svg {
                        margin-top: 10px;
                        position: absolute;
                        left: 350px;
                    }
                }
                
                .questions-confidentiality-guarantee, 
                .questions-confidentiality-guarantee-another {
                    width: 393px;
                    h3 {
                        width: 273px;
                        height: 52px;
                    }
                }

                .questions-confidentiality-guarantee {
                    border-bottom: 0.5px solid #D0D5DD;;
                    margin-top: 0;
                }
            }
        }
    }
}