.discussion-section {
  width: 1440px;
  position: relative;
}

.discussion-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../../src/assets/img/noise.png");
  opacity: 0.3;
  mix-blend-mode: overlay;
}

.discussion svg {
  position: absolute;
  width: 1440px;
  height: 258.13px;
  left: 0px;
  top: 50px;
  opacity: 0.3;
}

.discussion-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 600px;
  height: 168px;
  left: 108px;
  top: 57px;
  z-index: 1;
}

.discussion-title h2 {
  width: 600px;
  height: 104px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.326451px;
  color: #FFFFFF;
}

.discussion-title p {
  width: 600px;
  height: 40px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: -5px;
}

.discussion-form form {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
  position: absolute;
  width: 600px;
  height: 190px;
  left: 732px;
  top: 80.2px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
}

.form-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 552px;
  height: 78px;
  margin-right: 26px;
}

.phone_num_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  gap: 8px;
  width: 264px;
  height: 78px;
}

.fullname_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 0px;
  gap: 8px;
  width: 264px;
  height: 78px;
}

.photo-and-flag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.photo-and-flag img {
  position: absolute;
  margin-top: 4px;
}

.photo-and-flag input {
  padding-left: 24px;
}

.fullname_form input {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 104px;
}

.form-data label {
  width: 122px;
  height: 16px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  color: #667085;
}

.form-data input::-moz-placeholder {
  color: #101828;
}

.form-data input::placeholder {
  color: #101828;
}

.form-data input {
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  width: 264px;
  padding-top: 2px;
  padding-bottom: 8px;
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #101828;
}

.discussion-form form button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 11px 24px;
  gap: 10px;
  width: 178px;
  height: 40px;
  background: #2D66EE;
  border-radius: 8px;
  font-family: "SF Pro Text";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.154px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-right: 26px;
}

@media screen and (max-width: 768px) {
  .discussion-section::before {
    opacity: 0.1;
  }
  .discussion {
    width: 600px;
    height: 374px;
  }
  .discussion .discussion-title {
    width: 344px;
    height: 152px;
    margin: -55px 0px 0px -81px;
  }
  .discussion .discussion-title h2 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.33px;
    margin-bottom: 35px;
  }
  .discussion .discussion-title p {
    width: 344px;
    height: 40px;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  .discussion .discussion-title p br {
    display: none;
  }
  .discussion .discussion-form {
    position: absolute;
    left: -704px;
    margin-top: 130px;
  }
  .discussion svg {
    position: absolute;
    width: 704px;
    height: 159px;
    left: 28px;
    margin-top: 60px;
    opacity: 0.3;
    transform: scaleY(1.3);
  }
}
@media screen and (max-width: 425px) {
  .discussion-section .discussion .discussion-title h2 {
    margin-left: -14px;
  }
  .discussion-section .discussion .discussion-title p {
    margin-left: -14px;
  }
  .discussion-section .discussion .discussion-form {
    margin-left: -14px;
  }
  .discussion-section .discussion .discussion-form form {
    width: 382px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    margin-top: 110px;
  }
  .discussion-section .discussion .discussion-form form button {
    position: absolute;
    margin-top: 200px;
    margin-right: 65px;
    width: 250px;
    height: 40px;
    justify-content: center;
  }
  .discussion-section .discussion .discussion-form .form-data {
    display: flex;
    flex-direction: column;
    margin-right: -185px;
    margin-top: -150px;
  }
  .discussion-section .discussion .discussion-form .form-data .phone_num_form .photo-and-flag input {
    width: 351px;
  }
  .discussion-section .discussion .discussion-form .form-data .fullname_form {
    padding-top: 0;
  }
  .discussion-section .discussion .discussion-form .form-data .fullname_form input {
    width: 351px;
  }
  .discussion-section .discussion svg {
    position: absolute;
    width: 385px;
    height: 88px;
    left: 14px;
    margin-top: 160px;
    opacity: 0.3;
  }
}/*# sourceMappingURL=fifthscreen.css.map */