.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 1224px;
    height: 717px;
}

.projects-name h2 {
    width: 600px;
    height: 52px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
    margin: 80px 0px 0px 108px;
}

.projects-name p {
    width: 600px;
    height: 40px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-left: 108px;
}

.projects-developed-and-exact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 1224px;
    height: 547px;
}

.developed-projects-and-button {
    width: 1224px;
    height: 58px;
    display: flex;
    margin-left: 108px;
}

.developed-projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 801px;
    height: 58px;
}

.developed-projects-i-teka, .developed-projects-dauletten, .developed-projects-gurubosch, 
.developed-projects-santo, .developed-projects-homecreditbank, .developed-projects-bipartners,
.developed-projects-europharma {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 12px;
    height: 54px;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
}

.developed-projects-i-teka span {
    border-bottom: 2px solid #2D66EE;
}

.developed-projects span:hover {
    border-bottom: 2px solid #2D66EE;
    cursor: pointer;
}

.developed-projects-button {
    align-items: center;
    display: flex;
    margin-left: 160px;
}

.developed-projects-button button{
    gap: 10px;
    padding: 11px 24px;
    width: 207px;
    height: 35px;
    background: #2D66EE;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: "SF Pro Text";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.I-teka-project {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 1224px;
    height: 449px;
    margin-left: 108px;
}

.I-teka-project-description-name h2 {
    width: 108px;
    height: 52px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
}

.I-teka-project-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 600px;
    height: 365px;
}

.description {
    width: 600px;
    height: 60px;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
} 

.business-analysis {
    width: 496px;
    height: 22px;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #475467;
}

.I-teka-project-description p:nth-child(2) span {
    color: #2D66EE;
}

.loc-and-industry {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 239px;
    height: 24px;
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
}

.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 112px;
    height: 24px;
}

.industry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 95px;
    height: 24px;
}

.growth-and-active-users {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 252px;
    height: 59px;
}

.growth-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 76px;
    height: 59px;
}

.growth-users p:nth-of-type(1), .active-users p:nth-of-type(1) {
    width: 71px;
    height: 35px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
    margin: 0;
}

.growth-users p:nth-of-type(2), .active-users p:nth-of-type(2) {
    width: 78px;
    height: 16px;
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
    margin: 0;
}

.active-users {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 128px;
    height: 59px;
}

.active-users p:nth-of-type(1) {
    width: 130px;
    height: 35px;
}

.download-images {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 300px;
    height: 40px;
}

.I-teka-project img {
    width: 600px;
    height: 326px;
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .projects-section {
        .projects {
            .projects-name {
                margin: 70px 0px 0px 26px;
                h2 {
                    width: 600px;
                    height: 40px;
                    font-family: 'Inter';
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 144%;
                    letter-spacing: 0.326451px;
                    margin-left: 0;
                }

                p {
                    margin-left: 0;
                    width: 456px;
                    height: 40px;
                    font-family: 'SF Pro Text';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: -0.24px;
                }
            }

            .projects-developed-and-exact{
                margin-top: -30px;

                .developed-projects-and-button {
                    margin-left: 26px;

                    .developed-projects-button {
                        position: absolute;
                        width: 207px;
                        height: 40px;
                        left: 375px;
                        margin-top: 79px;
                        border-radius: 8px;

                        button {
                            font-family: 'SF Pro Text';
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 18px;
                            letter-spacing: -0.15px;
                        }
                    }

                    .developed-projects {
                        div span {
                            font-family: 'SF Pro Text';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.408px;
                        }
                    }
                }
            }

            .I-teka-project {
                margin-left: 26px;
                margin-top: -45px;

                .I-teka-project-description-name {
                    h2 {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 144%;
                        letter-spacing: 0.33px;
                        margin-bottom: 0;
                    }

                    gap: 20px;

                    .I-teka-project-description {
                        .description {
                            width: 459px;
                            height: 60px;
                            font-family: 'SF Pro Text';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            letter-spacing: -0.24px;

                            br {
                                display: none;
                            }
                        }

                        .business-analysis {
                            margin: -15px 0px 0px 0px;
                            font-family: 'SF Pro Text';
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 22px;
                            letter-spacing: -0.408px;
                        }

                        .loc-and-industry{
                            div p {
                                font-family: 'SF Pro Text';
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: -0.24px;
                                color: #101828;
                            }
                        }

                        .growth-and-active-users p:first-child {
                            font-family: 'Inter';
                            font-weight: 700;
                            font-style: Bold;
                            font-size: 20px;
                            line-height: 144%;
                            letter-spacing: 0.33px;
                        }

                        .growth-and-active-users p:last-child {
                            font-family: 'SF Pro Text';
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: -0.078px;
                        }

                        gap: 35px
                    }
                }

                img {
                    width: 368.65px;
                    height: 225px;
                    position: absolute;
                    left: 350px;
                    margin-top: 190px;
                }
            }
        }
    }
}

