.our-team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 600px;
    height: 341px;
    margin: 40px 0px 0px 108px;

    h2 {
        width: 600px;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
        color: #101828;
        margin-bottom: 0;
    }

    p {
        width: 600px;
        font-family: 'SF Pro Text';
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: -0.24px;
        color: #101828;
        margin-top: 0;
        margin-bottom: 0;
    }

    .team-info {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px 0px;
        gap: 16px;
        width: 584px;

        .our-team-members, .our-team-projects, .our-team-in-it{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 8px;
            width: 184px;

            h3 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 48px;
                line-height: 144%;
                letter-spacing: 0.326451px;
                color: #101828;
                margin-bottom: 0;
                margin-top: 0;
            }

            p {
                width: 184px;
                font-family: 'SF Pro Text';
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 20px;
                letter-spacing: -0.24px;
                color: #667085;
            }
        }
    }
}

.image-player {
    position: absolute;
    width: 600px;
    height: 413px;
    left: 732px;
    top: 4130px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("../../../src/assets/img/team.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0px 30px 20px #000000de;
    }

    svg {
        position: absolute;
        left: 270px;
        top: 170px;
    }
}


@media screen and (max-width: 768px) {

    .team-and-photo {
        .our-team {
            margin: 15px 0px 0px 26px;
            gap: 0px;
            h2 {
                width: 144.07px;
                height: 40px;
                left: 30px;
                top: 38px;
                font-family: 'Inter';
                font-weight: 700;
                font-size: 28px;
                line-height: 144%;
                letter-spacing: 0.326451px;
                margin-bottom: 24px;
            }

            p:first-of-type {
                width: 414.84px;
                height: 40px;
                font-family: 'SF Pro Text';
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.24px;
            }

            p:last-of-type {
                width: 613.06px;
                height: 40px;
                font-family: 'SF Pro Text';
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.24px;
            }

            .team-info {
                margin-top: 520px;
                gap: 4px;

                .our-team-members, .our-team-projects, .our-team-in-it {
                    margin-left: 14px;
                    p {
                        font-family: 'SF Pro Text';
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: -0.24px;
                        margin-left: 0px;
                    }
                }
            }

            p:last-of-type {
                margin-left: 14px;
            }
        }

        .image-player {
            left: 15px;
            top: 4700px;
            width: 720px;
            height: 421px;
        }
    }
}


@media screen and (max-width: 425px) {
    .team-and-photo {

        .our-team {
            margin-left: 14px;

            p:first-of-type {
                width: 376px;
                height: 60px;
            }

            p:last-of-type {
                width: 359px;
                height: 60px;
            }

            .team-info {
                margin-top: 300px;
                width: 374px;
                height: 58px;
                gap: 48px;
                padding-bottom: 20px;

                .our-team-members, .our-team-projects, .our-team-in-it {
                    height: 58px;
                    gap: 20px;
                    h3 {
                        font-family: 'Inter';
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 24px;
                        letter-spacing: 0.326451px;
                    }

                    p {
                        font-family: "SF Pro Text";
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        letter-spacing: -0.24px;
                    }
                }

                .our-team-members {
                    width: 98px;
                }

                .our-team-projects {
                    width: 73px;
                }

                .our-team-in-it {
                    width: 102px;
                }
            }
        }

        .image-player {
            top: 6030px;
            left: 8px;
            width: 392px;
            height: 237px;

            svg {
                width: 60px;
                height: 60px;
                left: 166px;
                top: 91px;
            }
        }
    }
}
