.our-team {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  width: 600px;
  height: 341px;
  margin: 40px 0px 0px 108px;
}
.our-team h2 {
  width: 600px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.326451px;
  color: #101828;
  margin-bottom: 0;
}
.our-team p {
  width: 600px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #101828;
  margin-top: 0;
  margin-bottom: 0;
}
.our-team .team-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 16px;
  width: 584px;
}
.our-team .team-info .our-team-members, .our-team .team-info .our-team-projects, .our-team .team-info .our-team-in-it {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 184px;
}
.our-team .team-info .our-team-members h3, .our-team .team-info .our-team-projects h3, .our-team .team-info .our-team-in-it h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 144%;
  letter-spacing: 0.326451px;
  color: #101828;
  margin-bottom: 0;
  margin-top: 0;
}
.our-team .team-info .our-team-members p, .our-team .team-info .our-team-projects p, .our-team .team-info .our-team-in-it p {
  width: 184px;
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.24px;
  color: #667085;
}

.image-player {
  position: absolute;
  width: 600px;
  height: 413px;
  left: 732px;
  top: 4130px;
}
.image-player::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../../src/assets/img/team.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(1) invert(16%);
  box-shadow: 0px 30px 20px rgba(0, 0, 0, 0.8705882353);
}
.image-player svg {
  position: absolute;
  left: 270px;
  top: 170px;
}

@media screen and (max-width: 768px) {
  .team-and-photo .our-team {
    margin: 15px 0px 0px 26px;
    gap: 0px;
  }
  .team-and-photo .our-team h2 {
    width: 144.07px;
    height: 40px;
    left: 30px;
    top: 38px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    margin-bottom: 24px;
  }
  .team-and-photo .our-team p:first-of-type {
    width: 414.84px;
    height: 40px;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .team-and-photo .our-team p:last-of-type {
    width: 613.06px;
    height: 40px;
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .team-and-photo .our-team .team-info {
    margin-top: 520px;
  }
  .team-and-photo .our-team .team-info .our-team-members p, .team-and-photo .our-team .team-info .our-team-projects p, .team-and-photo .our-team .team-info .our-team-in-it p {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
  }
  .team-and-photo .image-player {
    left: 15px;
    top: 4700px;
    width: 720px;
    height: 421px;
  }
}
@media screen and (max-width: 425px) {
  .team-and-photo .image-player {
    display: none;
  }
}/*# sourceMappingURL=seventhscreen.css.map */