.projects-industries-section h2 {
  width: 600px;
  height: 104px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.326451px;
  color: #101828;
  margin: 80px 0px 0px 108px;
}

.projects-industries-left ul,
.projects-industries-centre ul,
.projects-industries-right ul {
  list-style: none;
}

.projects-industries {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  margin: 40px 0px 0px 64px;
  width: 1223px;
  height: 280px;
}

.projects-industries-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 391px;
  height: 280px;
}

.projects-industries-centre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 391px;
  height: 280px;
}

.projects-industries-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  width: 391px;
  height: 280px;
}

.projects-industries-socials, .projects-industries-fitness-and-sport, .projects-industries-bank,
.projects-industries-construction, .projects-industries-game-projects, .projects-industries-education,
.projects-industries-auto-transport, .projects-industries-medicine-health, .projects-industries-restaurants-food-delivery,
.projects-industries-marketplaces, .projects-industries-ar, .projects-industries-tv,
.projects-industries-startups, .projects-industries-religion, .projects-industries-online-cources {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 391px;
  height: 60px;
  font-family: "SF Pro Text";
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.41px;
}

@media screen and (max-width: 768px) {
  .projects-industries-section h2 {
    width: 380px;
    height: 80px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 28px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    margin: 29px 0px 0px 26px;
  }
  .projects-industries-section .projects-industries {
    margin-left: -16px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-ar, .projects-industries-section .projects-industries .projects-industries-right .projects-industries-tv,
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-startups, .projects-industries-section .projects-industries .projects-industries-right .projects-industries-religion, .projects-industries-section .projects-industries .projects-industries-right .projects-industries-online-cources {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 26px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-ar {
    top: 1874px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-tv {
    top: 1934px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-online-cources {
    top: 1993px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-startups {
    left: 440px;
    top: 1874px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-religion {
    left: 440px;
    top: 1934px;
  }
}
@media screen and (max-width: 425px) {
  .projects-industries-section h2 {
    margin-left: 14px;
  }
  .projects-industries-section .projects-industries {
    margin-top: 10px;
    width: 369px;
    margin-left: -28px;
  }
  .projects-industries-section .projects-industries .projects-industries-left {
    width: 171px;
  }
  .projects-industries-section .projects-industries .projects-industries-left .projects-industries-socials, .projects-industries-section .projects-industries .projects-industries-left .projects-industries-fitness-and-sport,
  .projects-industries-section .projects-industries .projects-industries-left .projects-industries-bank, .projects-industries-section .projects-industries .projects-industries-left .projects-industries-construction,
  .projects-industries-section .projects-industries .projects-industries-left .projects-industries-game-projects {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
  .projects-industries-section .projects-industries .projects-industries-centre {
    width: 166px;
  }
  .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-education, .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-auto-transport,
  .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-medicine-health, .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-restaurants-food-delivery,
  .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-marketplaces {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
  }
  .projects-industries-section .projects-industries .projects-industries-centre .projects-industries-restaurants-food-delivery p {
    width: 88px;
    margin-top: 30px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-ar, .projects-industries-section .projects-industries .projects-industries-right .projects-industries-tv,
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-startups, .projects-industries-section .projects-industries .projects-industries-right .projects-industries-religion,
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-online-cources {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    left: 12px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-ar {
    top: 2411px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-tv {
    top: 2471px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-online-cources {
    top: 2531px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-startups {
    left: 208px;
    top: 2411px;
  }
  .projects-industries-section .projects-industries .projects-industries-right .projects-industries-religion {
    left: 208px;
    top: 2471px;
  }
}/*# sourceMappingURL=thirdscreen.css.map */